body {
    font-family: "Roboto", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("../public/redux-logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-origin: content-box;
}
